body {
  font-family: 'Montserrat', sans-serif;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
aside {
  width: 370px;
  background-color: #1e2939;
  padding: 40px 0 0 0;
  color: #ffffff;
}
aside h3 {
  text-align: left;
  padding: 50px 0 8px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}
aside div {
  padding-left: 40px;
}
.contacts p {
  margin-left: -40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
aside a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 15px;
}
aside ul,
aside ul ::marker {
  margin-left: -20px;
  color: #fb6d3a;
}
.saide_bar li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.main_content {
  padding: 105px 90px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main_content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.main_content ul,
ol {
  margin: 0px;
  padding-left: 20px;
}
.about_users p {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0px;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  color: #000000;
}
h5 {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.projects li {
  padding: 0 0 5px 10px;
}
.projects a {
  color: #595959;
}
.projects ol ::marker {
  color: black;
  font-weight: bold;
}
.li_color {
  font-weight: bold;
  color: black;
}
h3 {
  padding-top: 45px;
  margin: 0px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.work_experience li {
  color: #595959;
}
span {
  color: #fb6d3a;
}
